@import url('style.css');
.login-form-wrap {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: whitesmoke;
    color: black;
    width: 600px;
    height:auto;
    border-radius: 10px;
    box-shadow: 4rem;
}
@media screen and (max-width:576px) {
    .login-form-wrap {
        max-width: 348px;
        height: auto;
    }
    h1 {
        padding: 10px;
        font-size: 18px;
    }
    #form h4 {
        font-size:14px;
    }
}
#form , #form-wrap{
    display: inline-grid;
    margin: 0;
    padding: 10px;
    text-align: center;
}
#form label{
    text-align: left;
    padding: 5px;
    margin-left: 10px;
}
#form #Submit-btn{
    background-color: skyblue;
    border: none;
    width: 50%;
    border-radius: 5px;
}

.footer{
    border: 2px solid black;
    } 
    h3{
        text-align: center;
        max-width: 100%;
        margin-top: 10px;
    }